.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid #444;
  border-radius: 10px;
}

.connect-container{
      text-align: center;
  padding: 10px;
  background-color: #1c1c1c;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.location img{
    height: 300px;
    width: 1000x;
}
.connect-container {
  text-align: center;
  padding: 40px 20px;
}


.connect-container h1 {
  font-size: 28px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;
}


.location {
  max-width: 300px;
  text-align: center;
}

.location img {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #444;
}

.location p {
  margin-top: 10px;
  font-size: 16px;
}


.contact {
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
}


