.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid #444;
  border-radius: 10px;
}
 
.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin-left: 25px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.3s;
  background-color:white;
}

.nav-links a:hover {
  background-color: #444;
}