@import url(navbar.css);
@import url(product.css);
@import url(sale.css);
@import url(button.css);
@import url(about.css);
@import url(contact.css);


body {
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
  color: #f5f5f5;
  margin: 10px;
  padding: 10px;
}
